{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>pokedex</title>
    <link rel="stylesheet" href="{% static 'pokedexApp/style.css'%}">
  </head>
  <body>
    <div>
      <form action="{% url 'pokedexapp:index'%}" method="post">
        {% csrf_token %}
        {{pkc}}
        <input type="submit">
      </form>
    </div>
    <h1>FOTO</h1>
    <img src= {{pkimg}} title="Foto del Pokemon" alt="No se pudo cargar imagen"/>
    <p>HOLAAAAAAAAAAAAAAAAA</p>


  </body>
</html>
