{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>pokedex</title>
    <link rel="stylesheet" href="{% static 'pokedexApp/style.css'%}">
  </head>
  <body>
    <h1>Pokedex</h1>
    <div>
      <form action="{% url 'pokedexApp:index'%}" method="post">
        {% csrf_token %}
        {{pkc}}
        <input type="submit">
      </form>
    </div>
    <ul>
      <li><span>{{ namePokemon }}</span></li>
      <li><span>{{ idPokemon }}</span></li>
      <li><span> {{ typesPokemon }} </span></li>
      <li>
        <span>Estadisticas</span>
        <ul>
          {% for i in statsPokemon %}
          <li><span>{{ i }}</span></li>
          {% endfor %}
        </ul>
      </li>
      
      <li><span> {{ heightPokemon }} m </span></li>
      <li><span> {{ weightPokemon }} kg </span></li>
      <li><img src="{{imageUrlPokemon}}" title="Foto de {{ namePokemon }}" alt="No se pudo cargar imagen" height="250"/></li>
    </ul>
    
  </body>
</html>
